{{template "header"}}

<!-- <h1>ABOUT</h1> -->

{{template "nav-main"}}

<!--sidebar start-->
<!-- <div class="sidebar">
    <a href="#"><span>Dashboard</span></a>
    <a href="#"><span>Components</span></a>
    <a href="#"><span>Tables</span></a>
    <a href="#"><span>Forms</span></a>
    <a href="#"><span>About</span></a>
    <a href="#"><span>Settings</span></a>
  </div> -->
<!--sidebar end-->

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div class="dropdown">
        <button class="sidebar">Microcontroller</button>
        <a href="#" class="feat-btn"> Arduino<span class="fas fa-caret-down first"></span></a>
        <div class="feat-show">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
        <ul class="feat-show">
          <p><a href="#">Arduino UNO R3</a></p>
          <p><a href="#">Arduino Mega</a></p>
          <p><a href="#">Arduino Nano</a></p>
          <p><a href="#">Arduino Ethernet</a></p>
          <p><a href="#">Arduino Due</a></p>
        </ul>

        <a href="#" class="feat-btn"> Raspberry Pi<span class="fas fa-caret-down first"></span></a>
        <ul class="feat-show">
          <p><a href="#">Pi 3 Model B</a></p>
          <p><a href="#">Pi 2 Model B</a></p>
          <p><a href="#">Pi 1 Model B+</a></p>
          <p><a href="#">Pi 1 Model A+</a></p>
          <p><a href="#">Pi Zero</a></p>
        </ul>

      
          <a href="#" class="feat-btn" >LoRa<span class="fas fa-caret-down first"></span></a>
          <ul class="feat-show">
            <p><a href="#">Acklio</a></p>
            <p><a href="#">Actility</a></p>
            <p><a href="#">ChirpStack</a></p>
            <p><a href="#">CityKinect</a></p>
            <p><a href="#">Everynet</a></p>
            <p><a href="#">Helium</a></p>
            <p><a href="#">Kerlink</a></p>
            <p><a href="#">Loriot</a></p>
            <p><a href="#">Objenious</a></p>
            <p><a href="#">OrbiWise</a></p>
            <p><a href="#">Pixel Networks</a></p>
            <p><a href="#">Sagemcom</a></p>
            <p><a href="#">Semtech</a></p>
            <p><a href="#">Senet</a></p>
            <p><a href="#">SenRa</a></p>
            <p><a href="#">Spark</a></p>
            <p><a href="#">Stream</a></p>
            <p><a href="#">Swisscom</a></p>
            <p><a href="#">The Things Network</a></p>
            <p><a href="#">X-telia</a></p>
          </ul>

          <a href="#">Node MCU</a><br /> 
 
          <a href="#">ESP8266</a><br /> <br />

          
            <a href="" class="feat-btn" > Sensor<span class="fas fa-caret-down first"></span></a>
              <ul class="feat-show">
              <p><a href="#">Temperature</a></p>
              <p><a href="#">Luminosity</a></p>
              <p><a href="#">Pressure</a></p>
              <p><a href="#">Motion</a></p>
              <p><a href="#">Infrared</a></p>
              </ul>
          
        
          
            <a href="" class="feat-btn" > Actuator<span class="fas fa-caret-down first"></span></a>
              <ul class="feat-show">
              <p><a href="#">Light</a></p>
              <p><a href="#">Relay</a></p>
              <p><a href="#">Motor</a></p>
              </ul>
          
        
          
            <a href="" class="feat-btn" > Extension <span class="fas fa-caret-down first"></span></a>
              <ul class="feat-show">
              <p><a href="#">GPIO Port</a></p>
              <p><a href="#">PWM</a></p>
              <p><a href="#">Analog Converter</a></p>
            </ul>
          
        
          
            <a href="" class="feat-btn" > Custom Widget <span class="fas fa-caret-down first"></span></a>
              <ul class="feat-show">
              <p><a href="widget-form.html">Value</a></p>
              <p><a href="widget-form.html">Line Chart</a></p>
              <p><a href="widget-form.html">Gauge</a></p>
              <p><a href="widget-form.html">Button</a></p>
              <p><a href="widget-form.html">Slider</a></p>
              <p><a href="widget-form.html">LED</a></p>
              </ul>
            
          <!-- Navigation links in sidebar-->
          <!-- <a href="#">Link 1</a><br /> 
 
          <a href="#">Link 2</a><br /> 
          
          <a href="#">Link 3</a><br /> 
          
          <a href="#">Link 4</a><br /> 
      </div> 
  </div> 
</div>  -->
<!-- 
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">

      <div class="dropdown">
        <button class="dropbtn">Microcontroller</button>
        <div class="dropdown-content">
          <button class="dropbtn">Arduino Uno</button>
             <div class="dropdown-content">
              <a href="#">Arduino UNO R3</a>
              <a href="#">Arduino Nano</a>
              <a href="#">Arduino Ethernet</a>
              <a href="#">Arduino Due</a>
            </div>

            <div class="dropdown-content">
              <button class="dropbtn">Raspberry Pi</button>
                 <div class="dropdown-content">
                  <a href="#">Arduino UNO R3</a>
                  <a href="#">Arduino Mega</a>
                  <a href="#">Arduino Nano</a>
                  <a href="#">Arduino Ethernet</a>
                  <a href="#">Arduino Due</a>
                </div>  
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> -->

  
    <!-- <a href="#" class="dropbtn"> Microcontroller </a>
    <p>
    <a href="#" class="dropbtn" > Arduino</a>
    <div class="dropdown-content">
      <a href="#">Arduino UNO R3</a>
      <a href="#">Arduino Mega</a>
      <a href="#">Arduino Nano</a>
      <a href="#">Arduino Ethernet</a>
      <a href="#">Arduino Due</a>
    </div> -->
    

    <!-- <a href="#" class="dropbtn" >Raspberry Pi</a>
    <div class="dropdown-content">
      <a href="#">Pi 3 Model B</a>
      <a href="#">Pi 2 Model B</a>
      <a href="#">Pi 1 Model B+</a>
      <a href="#">Pi 1 Model A+</a>
      <a href="#">Pi Zero</a>
      </div>
   -->

    
    <!-- <a href="#" class="dropbtn" >LoRa</a>
    <div class="dropdown-content">
      <a href="#">Acklio</a>
      <a href="#">Actility</a>
      <a href="#">ChirpStack</a>
      <a href="#">CityKinect</a>
      <a href="#">Everynet</a>
      <a href="#">Helium</a>
      <a href="#">Kerlink</a>
      <a href="#">Loriot</a>
      <a href="#">Objenious</a>
      <a href="#">OrbiWise</a>
      <a href="#">Pixel Networks</a>
      <a href="#">Sagemcom</a>
      <a href="#">Semtech</a>
      <a href="#">Senet</a>
      <a href="#">SenRa</a>
      <a href="#">Spark</a>
      <a href="#">Stream</a>
      <a href="#">Swisscom</a>
      <a href="#">The Things Network</a>
      <a href="#">X-telia</a>
      </div>

   
      <a href="#" > Node MCU </a>
      <a href="#" > ESP8266 </a>
   
    </p>
  
   
  <p>
    <a href="" class="dropbtn" > Sensor</a>
      <div class="dropdown-content">
      <a href="insertform.html">Temperature</a>
      <a href="insertform.html">Luminosity</a>
      <a href="insertform.html">Pressure</a>
      <a href="insertform.html">Motion</a>
      <a href="insertform.html">Infrared</a>
      </div>
  </p>

  <p>
    <a href="" class="dropbtn" > Actuator</a>
      <div class="dropdown-content">
      <a href="#">Light</a>
      <a href="#">Relay</a>
      <a href="#">Motor</a>
      </div>
  </p>

  <p>
    <a href="" class="dropbtn" > Extension </a>
      <div class="dropdown-content">
      <a href="#">GPIO Port</a>
      <a href="#">PWM</a>
      <a href="#">Analog Converter</a>
      </div>
  </p>

  <p>
    <a href="" class="dropbtn" > Custom Widget</a>
      <div class="dropdown-content">
      <a href="#">Value</a>
      <a href="#">Line Chart</a>
      <a href="#">Gauge</a>
      <a href="#">Button</a>
      <a href="#">Slider</a>
      <a href="#">LED</a>
      </div>
  </p>

  
    </div>
  </div>
</div> -->


{{template "footer"}}